.inputMain{
    display: flex;
    flex-direction: column;
    font-family: 'Gilory';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #575757;
}

.textInput{
    width: 80%;
    padding: 0;margin: 0;
    border: 0;
    outline: 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
    background-color: transparent;
    padding: 16px 0px 16px 24px;
}



.disabled{
  width: 80%;
    padding: 0;margin: 0;
    border: 0;
    outline: 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #8e8d8d;
    opacity: .5s;
    background-color: transparent;
    padding: 16px 0px 16px 24px;
}

$width:90%;
$height: 34px;
$thumb-height: 20px;
$track-height: 2px;

// colours
$upper-color:  #E1E1E1;
$lower-color: #FF9514;
$thumb-color: #FF9514;
$thumb-hover-color: #FF9514;

$lower-color1: #e1aa66;
$thumb-color1: #e1aa66;
$thumb-hover-color1: #e1aa66;

$upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100% 50% / 100% $track-height no-repeat transparent;
$lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100% 50% / 100% $track-height no-repeat transparent;

$lower-background1: linear-gradient(to bottom, $lower-color1, $lower-color1) 100% 50% / 100% $track-height no-repeat transparent;

// Webkit cannot style progress so we fake it with a long shadow
// on the thumb element
@function webkit-slider-thumb-shadow($i: 1) {
  $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$upper-color};
  @if $i == 1 {
    @for $k from 2 through 1000 {
      $val: #{$val}, webkit-slider-thumb-shadow($k);
    }
  }
  @return $val;
}

.rangeInput {
  display: block;
  appearance: none;
  width: $width;
  margin: 0;
  height: $height;
  padding-left: 2px;
  padding-right: 2px;
  overflow: hidden;
  cursor: pointer;
  margin-top: -23px;
  margin-bottom: -11px;
  background: transparent;
  border: none;
  outline: none;
  
  &:focus {
    border: 0;
    outline: none;
  }
}

// Webkit
.rangeInput::-webkit-slider-runnable-track {
  width: $width;
  height: $height;
  margin-bottom: -11px;
  background: transparent;
  background: $lower-background;
  padding-left: 2px;
  padding-right: 2px;
}

.rangeInput::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 50%;
  border: 0;
  top: 50%;
  margin-top: (-$thumb-height/2);
  box-shadow: webkit-slider-thumb-shadow();
  transition: background-color 150ms;
}

// Firefox
.rangeInput::-moz-range-track,
.rangeInput::-moz-range-progress {
  width: $width;
  height: $height;
  margin-top: -23px;
  background: $upper-background;
  margin-bottom: -11px;
    background: transparent;
    padding-left: 2px;
    padding-right: 2px;
}

.rangeInput::-moz-range-progress {
  background: $lower-background;
}

.rangeInput::-moz-range-thumb {
  appearance: none;
  margin: 0;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 50%;
  border: 0;
  transition: background-color 150ms;
  
}

// Internet Exploder
.rangeInput::-ms-track {
  
  width: $width;
  height: $height;
  border: 0;
  margin-top: -23px;
  margin-bottom: -11px;
  background: transparent;
  color: transparent;
  padding-left: 2px;
  padding-right: 2px;
}

.rangeInput::-ms-fill-lower {
  background: $lower-background;
}

.rangeInput::-ms-fill-upper {
  background: $upper-background;
}

.rangeInput::-ms-thumb {
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 50%;
  border: 0;
  transition: background-color 150ms;
  // IE Edge thinks it can support -webkit prefixes
  top: 0;
  margin: 0;
  box-shadow: none;

}

.rangeInput:hover{
  &::-webkit-slider-thumb {
    transform: scale(1.2);
    background-color: $thumb-hover-color;
  }
  &::-moz-range-thumb {
    transform: scale(1.2);
    background-color: $thumb-hover-color;
  }
  &::-ms-thumb {
    transform: scale(1.2);
    background-color: $thumb-hover-color;
  }
}





.disabled1 {
  display: block;
  appearance: none;
  width: $width;
  margin: 0;
  height: $height;
  overflow: hidden;
  cursor: pointer;
  margin-top: -23px;
  margin-bottom: -11px;
  background: transparent;
  border: none;
  outline: none;
  
  &:focus {
    border: 0;
    outline: none;
  }
}

// Webkit
.disabled1::-webkit-slider-runnable-track {
  width: $width;
  height: $height;
  margin-bottom: -11px;
  background: transparent;
  background: $lower-background1;
}

.disabled1::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color1;
  border-radius: 50%;
  border: 0;
  top: 50%;
  margin-top: (-$thumb-height/2);
  box-shadow: webkit-slider-thumb-shadow();
  transition: background-color 150ms;
}

// Firefox
.disabled1::-moz-range-track,
.disabled1::-moz-range-progress {
  width: $width;
  height: $height;
  margin-top: -23px;
  background: $upper-background;
  margin-bottom: -11px;
    background: transparent;
}

.disabled1::-moz-range-progress {
  background: $lower-background1;
}

.disabled1::-moz-range-thumb {
  appearance: none;
  margin: 0;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color1;
  border-radius: 50%;
  border: 0;
  transition: background-color 150ms;
}

// Internet Exploder
.disabled1::-ms-track {
  
  width: $width;
  height: $height;
  border: 0;
  margin-top: -23px;
  margin-bottom: -11px;
  background: transparent;
  color: transparent;
}

.disabled1::-ms-fill-lower {
  background: $lower-background1;
}

.disabled1::-ms-fill-upper {
  background: $upper-background;
}

.disabled1::-ms-thumb {
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color1;
  border-radius: 50%;
  border: 0;
  transition: background-color 150ms;
  // IE Edge thinks it can support -webkit prefixes
  top: 0;
  margin: 0;
  box-shadow: none;
}

.disabled1:hover,
.disabled1:focus {

  &::-webkit-slider-thumb {
    background-color: $thumb-hover-color1;
  }
  &::-moz-range-thumb {
    background-color: $thumb-hover-color1;
  }
  &::-ms-thumb {
    background-color: $thumb-hover-color1;
  }
}



.container{
    font-family: 'Nekst';
    background: #F3F3F4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}



.rightPart{
    display: flex;flex-direction: row;justify-content: space-between;
    align-items: center;
    p{
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        text-align: right;
        color: #575757;
        margin: 0;
        margin-right: 24px;
        
    }
}

.main{
    width: 31.7%;
}

@media (max-width: 1024px) {
  .main{
    width: 100%;
    margin-bottom: 32px;
    }
  .rightPart{
    width: 100%;
  }

  .rangeInput {

    width: 95%;}

  
  // Webkit
  .rangeInput::-webkit-slider-runnable-track {
    width:95%;
  }
  
  
  // Firefox
  .rangeInput::-moz-range-track,
  .rangeInput::-moz-range-progress {
    width: 95%;

  }
  
  // Internet Exploder
  .rangeInput::-ms-track { 
    width: 95%;
  }
  

  .disabled1 {

    width: 95%;}

  
  // Webkit
  .disabled1::-webkit-slider-runnable-track {
    width:95%;
  }
  
  
  // Firefox
  .disabled1::-moz-range-track,
  .disabled1::-moz-range-progress {
    width: 95%;

  }
  
  // Internet Exploder
  .disabled1::-ms-track { 
    width: 95%;
  }

  
  
}

@media (max-width: 576px) {
  .rangeInput {

    width: 85%;}

  
  // Webkit
  .rangeInput::-webkit-slider-runnable-track {
    width:85%;
  }
  
  
  // Firefox
  .rangeInput::-moz-range-track,
  .rangeInput::-moz-range-progress {
    width: 85%;

  }
  
  // Internet Exploder
  .rangeInput::-ms-track { 
    width: 85%;
  }
  

  .disabled1 {

    width: 85%;}

  
  // Webkit
  .disabled1::-webkit-slider-runnable-track {
    width:85%;
  }
  
  
  // Firefox
  .disabled1::-moz-range-track,
  .disabled1::-moz-range-progress {
    width: 85%;

  }
  
  // Internet Exploder
  .disabled1::-ms-track { 
    width: 85%;
  }

}