@font-face {
  font-family: 'Gilory';
  src: url('./fonts/Gilroy-Regular.woff');
}

@font-face {
  font-family: 'Nekst';
  src: url('./fonts/Nekst-Black.woff');
}



body {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Nekst',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
